<h1>Add a Podcast Here!</h1>

<form action="/podcasts/create" method="POST">
    <label for="title">
        Title:
        <input type="text" id="title" name="title">
    </label>

    <label for="description">
        Description:
        <input type="text" id="description" name="description">
    </label>

    <label for="network">
        Network:
        <input type="text" id="network" name="network">
    </label>

    <input type="submit" value="CREATE PODCAST!">
</form>


<a href="/podcasts">Podcasts Home Page</a>