<h1>Add a Podcast Here!</h1>

<form action="/podcasts" method="POST">
    <label for="title">
        Title:
        <input type="text" name="title" id="title">
    </label>
    <br>
    <label for="description">
        Description:
        <input type="text" name="description" id="description">
    </label>
    <br>
    <label for="network">
        Network:
        <input type="text" name="network" id="network">
    </label>
    <br>

    <input type="submit" value="PODCAST TIME">
</form>


<a href="/podcasts">Podcasts Home Page</a>