<h1>Add a Podcast Here!</h1>

<form action="/podcasts/ILickedEverything" method="POST">
  <label for="title">Title:
    <input type="text" id="title" name="title">
  </label>
  <br>
  <label for="description">Description:
    <input type="text" id="description" name="description">
  </label>
  <br>
  <label for="network">Network:
    <input type="text" id="network" name="network">
  </label>
  <br>

  <input type="submit">
</form>


<a href="/podcasts">Podcasts Home Page</a>